@{ ViewData["Title"] = "Home"; }

<div class="text-center">
    <h1 class="display-4">Online Todo App</h1>

    <p>This app helps people save and manage their tasks online</p>

    <p>If you here first time then visit <a asp-controller="Identity" asp-action="Login">Registration Page</a> and <a asp-controller="Task" asp-action="Create">Create Task</a></p>
</div>
